body {
    background-color: #203244;
    margin: 0;
    padding: 0;
    color: rgb(226, 31, 31);
    line-height: 1.5;
    font-size: 16px;
}
main{
    margin: 20px auto;
    width:94%
}

p{
    line-height:2.5;
}


.card-header{
    background-color: #21252900;
    border-radius: 15px solid black;
    outline: black;
    line-height: 2.0;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 2px black;
    font-size: 35px;
    
}

.btn {
    background-color: #606162;
    color:white;
    border-radius: 3px;
    border:3px solid black;
    outline: black;
    
}

.btn:hover{
    background-color: aqua;
}

.page-title{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(0, 0, 255, 0);                                        
    padding: 0 10px;
    display: inline-block;
    color: white;
	font-size: 80px;
	-webkit-text-stroke: 5px black;
    text-shadow: 5px 15px 15px black;
}

.card-body {
    background-color: #212529;
    border-radius: 10px;
    border: 5px solid black;
    outline: black; 
}

form {
    max-width:100%;
}

.card{
    background-color:rgba(0, 0, 0, 0)
}

#user-form{
    background-color: #212529;
    -webkit-text-stroke: 2px black;
    outline: 2px black;
    width: 300px;    
}

ul {
    list-style-type: none;
    line-height: 2;
}

li:first-letter {
    text-transform: capitalize;
}

.custom-li:hover {
    cursor:pointer; 
}

.custom-li {
    color: white;
	font-size: 28px;
	-webkit-text-stroke: 2px black;
    font-weight: bold;
    padding-left: 2px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color:transparent;
    background-color: #2125293d;
    text-shadow: 5px 15px 15px black;
}

.low-uv {
    background-color: rgba(0, 128, 0, 0.516);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.medium-uv {
    background-color: rgba(255, 255, 0, 0.436);
    padding: 5px;
    border-radius: 5px;
    
}

.high-uv {
    background-color: rgba(255, 0, 0, 0.495);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}